# ==========================================
# PRODUCT SERVICE CONFIGURATION
# ==========================================
PRODUCT_DB_HOST=localhost
PRODUCT_DB_NAME=product_service_db
PRODUCT_DB_USER=product_user
PRODUCT_DB_PASSWORD=product_pass
PRODUCT_DB_PORT_OUT=5434
